/* 
    Document   : receiptStyleSheet
    Created on : Feb 12, 2013, 8:46:07 AM
    Author     : Chuck Wojciuk
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
table {
    width: 100%;
    font-family: Gill, Helvetica, sans-serif;
    
}
p {
    font-size: 12px;
    text-align: center;
    font-style: italic;
}
td {
    border: 2px solid firebrick;
}
.condRow td {
    margin: 0;
    padding: 0;
    column-gap: 0;
    height:10px;
}
