/* 
    Document   : receiptStyleSheet
    Created on : Feb 12, 2013, 8:46:07 AM
    Author     : Chuck Wojciuk
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
table {
    width: 100%;
    font-family: Gill, Helvetica, sans-serif;
    
}

